body {margin: 0;}

body{
background-color:#D9D9D9}
/* Navigation Bar */
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #140F11;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
} 
 
ul.sidenav li a.active {
  background-color: #73685F;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
background-color: #555;
  color: white;
}

div.content {
  margin-left: 25px;
  padding: 1px 16px;
  height: 100px;
}

@media screen and (max-width: 900000px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: left;
  }
/* Navigation Bar End */
<style>
p.blackbeats{
margin-left:auto;
margin-right:auto;
width: 8em
}












